pymongo
pymongo[srv]
dnspython
pandas
numpy
ensure


# dev requirements -

pytest==7.1.3 #Testing Framework for development side
tox==3.25.1 #Test Automation & Environment Management
black==22.8.0 #Code Formatter
flake8==5.0.4 #Liniting Tool Checks for code style violations (PEP 8) and common errors
mypy==0.971 #Static Type Checker Analyzes type annotations to catch type-related bugs

-e .